*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
}

.nav{
    background-color: white;
    padding:19px 22px;
}

.nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap:80px;
}

.nav li{
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    transition: 0.3s all ease-in-out;
}

.nav li:hover{
    background-color: white;
}

.nav a{
    text-decoration: none;
    color:black;
}

.main-sec{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-sec p{
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 1.2rem;
    padding:295px 80px;
}

footer{
    position:relative;
    top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    max-width:100vw;
    background: white;
}

footer p{
    font-size: 1rem;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    text-decoration: underline;
    text-transform: uppercase;
}